body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif !important; */
  font-family: 'Lato', sans-serif;
}

.spaceBar {
  height: 50px;
  width: 100%;
}
.smallSpaceBar {
  height: 20px;
  width: 100%;
}
.smallestSpaceBar {
  height: 5px;
  width: 100%;
}
